@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,900&display=swap');
html body{
    margin: 0;
}
header{
    height: 700px;
    background-color: #E6EAF3;
}
.header{
    opacity: 1;
    display: block;
    position: fixed;
    float: top;
    z-index: 1;
    background-color:#F0F3FA;
    height: 100px;
    width: 100%;
}
.inner_header{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto auto;
}
.logo_container{
    margin-top: 10px;
    background-image: url("img/book-logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    display: inline-block;
    width: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 200px;
    height: 92px;
    width: 72px; 
}
.logo-text{
    width: 100px;
    height: 40px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 300px;
    margin-top: 15px;
    vertical-align:top;
    color: #636267;
    font-family: 'Roboto', sans-serif;
    font-weight:bolder;
}
.logo_container h2{
   margin-top: 30px;
   margin-left: 78px;
   font-size: 17px;
   font-weight:bolder;
   font-family: 'Roboto', sans-serif;
   color: #636267;
}
.navigation{
    margin-top: 20px;
    margin-right: 105px;
    float: right;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}   
.navigation a{
    height: 60%;
    display: table;
    float: left;
    padding: 0px 30px;
    text-decoration: none;
}
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #636267;
    font-size: 17px;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif;
}
.navigation a li:hover{
    color:rgb(88, 211, 211);
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 8px;
}
.main-title{
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
    font-size: 40px;
    font-weight: 420;
    font-family: 'Roboto', sans-serif;
}
.main-title2{
    position: absolute;
    margin-top: 245px;
    margin-left: 200px;
    font-size: 40px;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif;
}
.main-title3{
    position: absolute;
    margin-top: 320px;
    margin-left: 200px;
    font-size: 17px;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif;
    color: #AEB5C5;
}
.main-title4{
    position: absolute;
    margin-top: 340px;
    margin-left: 200px;
    font-size: 17px;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif;
    color: #AEB5C5;
}
.main-input{
    margin-top: 400px;
    margin-left: 200px;
    height: 65px;
    width: 550px;
    border-radius: 5px;
    border-width: 0;
}
.main-input:focus{  
    outline: 0;
}
.input-button{
    color: #CED6E9;
    position: absolute;
    top: 414px;
    left: 628px;
    height: 39px;
    width: 110px;
    border-radius: 5px;
    border-width: 0;
    background-color:#365CA7;
}
.play-arrow{
    position: absolute;
    height: 35px;
    width: 35px;
    top: 490px;
    left: 200px;   
}
.arrow-text{
    position: absolute;
    margin-top: 37px;
    margin-left: 250px;
    font-size: 14px;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif;
    color: #848DA4;
}
.main-img{
    margin-top: 100px;
    position: absolute;
    right: 116px;
    height: 600px;
    border-radius: 0px;
    width: 530px
}
.content{
    height: 700px;
    width: 100%;
    background-color: #F0F3FA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.item1{
    margin-top: 120px;
    background-color: white;    
    height: 300px;
    width: 320px;
    border-radius: 30px;
    order: 1;
}
.item2{
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: white;    
    height: 300px;
    width: 320px;
    border-radius: 30px;
    order: 2;
}
.item3{
    margin-top: 120px;
    background-color: white;    
    height: 300px;
    width: 320px;
    border-radius: 30px;
    order: 3;
}
.img-item{
  margin-top: 45px;
  margin-left: 20px;
  height: 90px;
  width: 90px;
}
.title-item1{
    margin-left: 20px;
    margin-top: 40px;
    font-size: 20px;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif;
    color:#3D3F3E;
}
.p-item{
    margin-left: 20px;
    font-size: small;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif;
    color: #AEB5C5;
    padding-right: 70px;
}
@media (max-width: 1640px){
    body{
        overflow-x: hidden;
    }
    .mobile-menu{
        display: block;
        position: absolute;
        right: 0;
        transition: 0.3s;
    }
    .inner_header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .logo_container{
        position: absolute;
        background-image: url("img/book-logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100%;
        display: inline-block;
        width: 200px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        left: 0px;
        height: 92px;
        width: 72px; 
    }
    .logo-text{
        position: absolute;
        left: 270px;
        top: 0px;
        width: 100px;
        height: 40px;
        display: inline-block;
        margin-bottom: 300px;
        margin-top: 15px;
        vertical-align:top;
        color: #636267;
        font-family: 'Roboto', sans-serif;
        font-weight:bolder;
    }
    .main-img{
        margin-top: 100px;
        position: absolute;
        right: 0px;
        height: 600px;
        width: 530px
    }
    .navigation{
        z-index: 1;
        height: 91vh;
        margin-right: unset;
        float: none;
        display: flex;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background: rgb(255, 255, 255);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.1s ease-in;
    }
    .navigation a li:hover{
        color: rgb(138, 115, 115);
    }
    .navigation.active{
        transform: translateX(0%);
    }
    .navigation a li{
        margin-left: 0;
        opacity: 0;
        height: 10px;
        color: rgb(7, 7, 7);
        font-size: 25px;
    }
    .navigation ul{
        margin-right: 20px;
    }
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);

}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
}
.home_container{
    background-image: url(../img/home_container_img1.jpg);
    height: 900px;
    width: 100%;
}